mixin sNews()
	// start sNews
	+b.sNews.section#sNews&attributes(attributes)
		.container
			.row
				mixin item-news(i,t,p)
					.col-xl-4.col-sm-6
						+b.item-news
							+e.A.img-wrap(href="#")
								img.lazy.res-i(src="#" data-src=`img/@2x/sNews-${i}.jpg`, alt="")
							+e.date 15&nbsp;сентября 2020
							+e.title
								a(href="#")!= t
							+e.text!= p
			
			
				+item-news(1, `Творческая школа пройдет в&nbsp;онлайн-формате`, `В&nbsp;этот раз Творческая Школа вокального мастерства пройдет в&nbsp;режиме онлайн-трансляции на&nbsp;портале Культура.рф, YouTube-канале Фонда и&nbsp;Facebook...`)
				+item-news(2, `Презентация книги на&nbsp;non/fictio&#8470;&nbsp;21`, `6&nbsp;декабря известный театровед, музыкальный критик Алексей Васильевич Парин совместно с&nbsp;Генеральным директором Фонда Елены Образцовой Натальей Игнатенко представят уникальное издание &quot;Елена Образцова...`)
				+item-news(3, `Премьера фильма &laquo;Непревзойденная Кармен&raquo;`, `В&nbsp;рамках фестиваля &laquo;BelgorodMusicFest: Борислав Струлёв и&nbsp;друзья&raquo; в&nbsp;Белгородской филармонии состоялся премьерный показ фильма &laquo;Непревзойденная Кармен&raquo;.`)
				+item-news(4, `Творческая школа пройдет в&nbsp;онлайн-формате`, `В&nbsp;этот раз Творческая Школа вокального мастерства пройдет в&nbsp;режиме онлайн-трансляции на&nbsp;портале Культура.рф, YouTube-канале Фонда и&nbsp;Facebook...`)
				+item-news(5, `Презентация книги на&nbsp;non/fictio&#8470;&nbsp;21`, `6&nbsp;декабря известный театровед, музыкальный критик Алексей Васильевич Парин совместно с&nbsp;Генеральным директором Фонда Елены Образцовой Натальей Игнатенко представят уникальное издание &quot;Елена Образцова...`)
				+item-news(6, `Премьера фильма &laquo;Непревзойденная Кармен&raquo;`, `В&nbsp;рамках фестиваля &laquo;BelgorodMusicFest: Борислав Струлёв и&nbsp;друзья&raquo; в&nbsp;Белгородской филармонии состоялся премьерный показ фильма &laquo;Непревзойденная Кармен&raquo;.`)
				+item-news(7, `Творческая школа пройдет в&nbsp;онлайн-формате`, `В&nbsp;этот раз Творческая Школа вокального мастерства пройдет в&nbsp;режиме онлайн-трансляции на&nbsp;портале Культура.рф, YouTube-канале Фонда и&nbsp;Facebook...`)
				+item-news(8, `Презентация книги на&nbsp;non/fictio&#8470;&nbsp;21`, `6&nbsp;декабря известный театровед, музыкальный критик Алексей Васильевич Парин совместно с&nbsp;Генеральным директором Фонда Елены Образцовой Натальей Игнатенко представят уникальное издание &quot;Елена Образцова...`)
				+item-news(9, `Премьера фильма &laquo;Непревзойденная Кармен&raquo;`, `В&nbsp;рамках фестиваля &laquo;BelgorodMusicFest: Борислав Струлёв и&nbsp;друзья&raquo; в&nbsp;Белгородской филармонии состоялся премьерный показ фильма &laquo;Непревзойденная Кармен&raquo;.`)
		
			.text-center
				+e.A.show-more-btn.btn.btn-outline-primary(href="#") Показать еще

				
	// end sNews