
	// start .sNews
	.sNews {
		padding-top: 0;

		.row{
			@include media-breakpoint-up(xxl) {
				--bs-gutter-x: #{rem(106)};
			}
			// padding-bottom: 44px;
			// @include media-breakpoint-down(md) {
			// 	padding-bottom: 0;
			// }
		}

		&__show-more-btn {
		min-width: rem(232);
		margin-top: rem(44);
		@include media-breakpoint-down(md) {
			margin-top: 0;
			margin-bottom: rem(50);
		}
	}
		

		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sNews

.item-news {

	margin-bottom: rem(66);
	margin-right: auto;
	margin-left: auto;
	max-width: rem(464);

	&__img-wrap{
		background-color: #000;
		display: block;
		margin-bottom: rem(30);
	}

	&__date {
		margin-bottom: rem(15);
		font-size: rem(20);
		color: $primary;
		line-height: (25 / 20);
	}

	&__title {
		margin-bottom: rem(16);
		a {
			text-transform: uppercase;
			font-size: rem(20);
			line-height: 1.6;
			letter-spacing: 0.06em;
			// text-decoration-line: underline;
			border-bottom: 1px solid $primary;
			@extend .mono;

			@include media-breakpoint-down(md) {
				font-size: rem(16);
			}
		}
	}

	&__text {
		font-family: $default-font;
		font-size: rem(20);
		line-height: (32 / 20);
	}

	


}