// start .headerBlock
.headerBlock {
	padding-top: calc(var(--sPT) / 2);
	padding-bottom: 0;
	// margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// height: 100px;
	// background-image: url(../img);
	// background-color: #000000;

	// h1 {
	// 	margin-bottom: 1px;
	// }

	// h2 {
	// 	margin-bottom: 1px;
	// }

	
	&__slCol {
		position: relative;
		@include media-breakpoint-up(xxxl)  {
			padding-right: calc(4vw + 60px);
		}
	}

	&__col {
		@include media-breakpoint-up(xxxl) {
			margin-left: -4vw;
		}
		position: relative;
		z-index: 2;
		overflow: hidden;
		background-color: #fff;
		border-left: solid 1px #e0e0e0;
		padding-left: rem(200);
		@include media-breakpoint-up(xxl) {
			padding-left: rem(336);
		}
		padding-top: rem(357);
		margin-top: rem(-400);
	}

	&__imgWrap {
		position: absolute;
		left: rem(-190);
		bottom: -8%;
		z-index: 1;
	}

	.container-fluid {
		padding-left: 0;
	}

	li {
		list-style: none;
		margin-bottom: rem(8);
		@extend .h5;
		a {
			line-height: 1.5;
			border-bottom: solid 2px transparent;
			&:hover {
				border-bottom: solid 2px $primary;
			}
		}
	}


	h2 {
		font-family: $mono;
		line-height: 1.4;
		margin-bottom: rem(30);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	//
	@include media-breakpoint-between(md, xl) {}
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}
}
// end.headerBlock

.headerSlider {
	padding-bottom: rem(61);

	.swiper-container {
		overflow: visible;
	}

	&__slide {
		position: relative;
		padding: rem(120) rem(63) rem(90) rem(150);

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 95%;
			top: 2%;
			left: 2%;
			border: 2px solid #000000;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		max-width: rem(170);
		position: relative;
		z-index: 2;
	}

	.h1 {
		color: #fff;
		margin-bottom: rem(69);
		font-family: $mono;
		max-width: rem(750px);
		position: relative;
		z-index: 2;
	}

	&-pugin {
		color: #fff;
		text-align: center;
		font-family: $mono;
		font-size: rem(20);
	}

	&__btn {
		position: relative;
		z-index: 2;
	}
}