mixin sProjectsFond()
	// start sProjectsFond
	+b.sProjectsFond.section#sProjectsFond&attributes(attributes)
		.container
			mixin item(i,t,p)
				+e.item
					+e.A.img-wrap(href="#")
						img.lazy.res-i(src="#" data-src=`img/@2x/sProjectsFond-${i}.jpg`, alt="")
					+e.text-block
						+e.title!= t
						if p
							+e.text!= p
						block
						
			mixin tr(t1,t2)
				tr
					td!= t1 
					td
						span.text-primary!= t2
						block

											
			+item(1, `Творческая школа вокального мастерства Елены Образцовой`, `Творческая Школа дает возможность участникам, чья жизнь и&nbsp;профессиональная деятельность связана с&nbsp;оперой и&nbsp;театром, узнать все тонкости вокального искусства и&nbsp;совершенствовать свой сценический образ, проявлять себя, делиться опытом друг с&nbsp;другом и&nbsp;знакомиться с&nbsp;профессионалами театрального мастерства.`)
				table
					+tr(`Весенняя сессия 2020`, `25&nbsp;&mdash; 31&nbsp;мая, онлайн`)
						+e.label Онлайн
					+tr(`Весенняя сессия 2019`, `30&nbsp;марта&nbsp;&mdash; 6&nbsp;апреля`)
					+tr(`Весенняя сессия 2018`, `15&nbsp;&mdash; 25&nbsp;марта`)
					+tr(`Осенняя сессия 2017`, `30&nbsp;сентября&nbsp;&mdash; 8&nbsp;октября`)
					+tr(`Весенняя сессия 2017`, `11&nbsp;&mdash; 19&nbsp;марта`)
					+tr(`Осенняя сессия 2016`, `17&nbsp;&mdash; 25&nbsp;сентября`)
				
			+item(2, `Международный Конкурс юных вокалистов Елены Образцовой`, `Конкурс призван способствовать выявлению талантливых юных вокалистов, совершенствованию их&nbsp;исполнительского мастерства, расширению творческих контактов между российскими и&nbsp;зарубежными музыкантами.`)
				table
					+tr(`VII конкурс`, `15&nbsp;&mdash; 22&nbsp;июля 2018`)
					+tr(`VI&nbsp;конкурс`, `3&nbsp;&mdash; 8&nbsp;июля 2016`)
					+tr(`V&nbsp;конкурс`, `24&nbsp;&mdash; 30&nbsp;августа 2014`)
			+item(3, `Международный Конкурс молодых оперных певцов Елены Образцовой`)
				table
					+tr(`XII конкурс`, `6&nbsp;&mdash; 13&nbsp;сентября 2019`)
					+tr(`XI&nbsp;конкурс`, `10&nbsp;&mdash; 17&nbsp;сентября`)
					+tr(`X&nbsp;конкурс`, `18&nbsp;&mdash; 25&nbsp;августа 2015`)
					+tr(`IX&nbsp;конкурс`, `24&nbsp;&mdash; 31&nbsp;августа 2013`)
			+item(4, `Дети-наследники великой музыкальной культуры`, `Музыкально-просветительский проект, соединяющий задачи Государственного центрального музея современной истории России по&nbsp;популяризации истории России и&nbsp;одно из&nbsp;главных направлений деятельности Фонда Елены Образцовой по&nbsp;пропаганде классической музыки, искусства молодых исполнителей, эстетическому воспитанию и&nbsp;интеллектуальному развитию молодежи.`)
				ul
					li 26&nbsp;марта 2020
					li 12&nbsp;марта 2020
					li 27&nbsp;февраля 2020
					li 13&nbsp;февраля 2020
					li 30&nbsp;января 2020
					li 23&nbsp;января 2020
					li 26&nbsp;декабря 2019
					li 26&nbsp;декабря 2019
					li 5&nbsp;декабря 2019
					li 28&nbsp;ноября 2019
					li 14&nbsp;ноября 2019
				
			+item(5, `Золотые голоса конкурсов Елены Образцовой`, `Новый проект Фонда Елены Образцовой&nbsp;&mdash; &laquo;Золотые голоса конкурсов Елены Образцовой&raquo; ....`)
				table
					+tr(`Концерт`, `24&nbsp;сентября 2019`)
					+tr(`&laquo;Кармен&raquo; Ж.&nbsp;Бизе`, `19&nbsp;мая 2019`)
					+tr(`Король оперы&nbsp;&mdash; тенор`, `30&nbsp;апреля 2019`)
					+tr(`&laquo;Реквием&raquo; Дж. Верди`, `19&nbsp;мая 2019`)
					+tr(`Юлия Меннибаева и&nbsp;Игорь Морозов`, `16&nbsp;июня 2018`)
					+tr(`Юлия Лежнева`, `30&nbsp;мая 2018`)
			+item(6, `Оперный бал Елены Образцовой`, `&laquo;Оперный бал Елены Образцовой&raquo; входит в&nbsp;число знаковых культурных явлений России последних лет, способствуя укреплению классических музыкальных традиций и&nbsp;международному гуманитарному сотрудничеству.`)
				table
					+tr(`В&nbsp;честь 80-летия Елены Образцовой`, `4&nbsp;ноября 2019`)
					+tr(`В&nbsp;честь Франко Дзеффирелли`, `2&nbsp;марта 2018`)
					+tr(`Концерт-посвящение Елене Образцовой`, `10&nbsp;ноября 2015`)
					+tr(`К&nbsp;75-летию Елены Образцовой`, `28&nbsp;октября 2014`)
			+item(7, `Энергия искусства`, `Цикл концертов российских певцов звезд мировой оперы в&nbsp;российских городах атомной энергетики. АО&nbsp;&laquo;ТВЭЛ&raquo; традиционно поддерживает социальные и&nbsp;культурные проекты, третий год подряд выступая Генеральным спонсором этого проекта`)
				table
					+tr(`&laquo;Мелодия любви&raquo; Екатерины Морозовой`, `15&nbsp;марта 2018, Новоуральск`)
					+tr(`&laquo;Музыкальное путешествие&raquo; Николая Диденко и&nbsp;Александра Покидченко`, `6&nbsp;марта 2018, Зеленогорск`)
					+tr(`Гала-программа &laquo;Эстетика большой сцены`, `27&nbsp;февраля 2018, Глазов`)
					+tr(`Праздничный концерт ко&nbsp;Дню Защитника Отечества Евгения Южина и&nbsp;Юлии Снежиной`, `22&nbsp;февраля 2018, Северск`)
					+tr(`Праздничный гала-концерт &laquo;Энергия творчества&raquo;`, `24&nbsp;ноября 2017, Десногорск`)
					+tr(`&laquo;Музыкальное путешествие&raquo; Екатерины Морозовой`, `27&nbsp;октября 2017, Зеленогорск`)
					+tr(`&laquo;Мне не&nbsp;забыть тебя&raquo; Алексея Татаринцева`, `7&nbsp;сентября 2017, Новоуральск`)
					+tr(`&laquo;Спасибо великим артистам&raquo; Борислава Струлёва`, `28&nbsp;октября 2016, Зеленогорск`)
					+tr(`Вечер балета &laquo;Вдохновение. От&nbsp;классики до&nbsp;современности&raquo;`, `28&nbsp;сентября 2016, Северск`)
					+tr(`Гала-концерт звезд мировой оперы`, `16&nbsp;сентября 2016, Новоуральск`)
					+tr(`Творческий вечер Народной артистки России Ольги Волковой`, `16&nbsp;сентября 2016, Глазов`)
					+tr(`Концерт вокального проекта &laquo;ViVA&raquo;`, `9&nbsp;сентября 2016, Электросталь`)


	// end sProjectsFond