extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sEvents/_sEvents.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Афиша'
	title= title
block pagecontent
	+mob-mnu()
	+header()

		+top-nav()
	+b.page-head.container
		h1= title
	+sEvents-upcoming()
	+sEvents-Past()
	//- +sNews
	+footer()


	