extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProjectsFond/_sProjectsFond.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'ПРОЕКТЫ ФОНДА'
	title= title
block pagecontent
	+mob-mnu()
	+header()

		+top-nav()
	+b.page-head.container
		h1= title

	+sProjectsFond
	+footer()


	