extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sArticals/_sArticals.pug
include ../blocks/sTranslations/_sTranslations.pug

block variables
	- let  mainPage= '09-translations'
block title
	- let  title= 'Главная'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	+sTranslations()
	+footer()


	