extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAboutEvent/_sAboutEvent.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Международная творческая школа вокального мастерства Елены Образцовой'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	+b.page-head
		.container 
			+e.back(href="#") 
				img(src="img/svg/arrow-left.svg", alt="")

	+sAboutEvent()
	+footer()


	