extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sEvents/_sEvents.pug
include ../blocks/sTarget/_sTarget.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= 'page-main'
block title
	- let  title= 'Главная'
	title= title
block pagecontent
	+mob-mnu()
	+header()

		+top-nav() 
	+headerBlock()
	+sEvents()
	+sTarget()
	+sCards()
	+sPartners()
	+footer()


	