mixin sTarget()
	// start sTarget
	+b.sTarget#sTarget&attributes(attributes)
		.container
			.row
				.col-lg-7
					.h1 Благотворительный фонд поддержки музыкального искусства &laquo;Фонд Елены Образцовой&raquo;
					p создан в&nbsp;декабре 2011 года по&nbsp;инициативе великой оперной певицы, Народной артистки СССР Елены Васильевны Образцовой.
				+e.col.col
					p #[strong Целью деятельности Фонда являются] культурные и образовательные проекты, направленные на&nbsp;сохранение культурного наследия и&nbsp;развитие традиций отечественной музыкальной культуры и&nbsp;образования, а&nbsp;также международное гуманитарное сотрудничество.
	// end sTarget