// start .sTarget
.sTarget {
	padding-top: calc(var(--sPT) / 3.3);
	padding-bottom: calc(var(--sPB) / 2);
	@include media-breakpoint-up(lg) {
		padding-bottom: calc(var(--sPB) * 1.1);
	}
	.h1 {
		font-family: $mono;
		margin-bottom: rem(30);
		color: $primary;
		@include media-breakpoint-up(sm) {
			letter-spacing: rem(3.8);
		}
		line-height: 1.35;
	}

	p {
		@extend .h4;
		max-width: rem(800);
		line-height: 1.6;

	}

	&__col {
		@include media-breakpoint-up(sm) {
			padding-right: rem(101);
		}
		padding-top: rem(11);

		p {
			@include media-breakpoint-up(lg) {
				margin-left: auto;
				max-width: rem(430);
			}
			display: block;
			// border-left: solid 3px $primary;
			padding-left: rem(27);
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 3px;
				height: 100%;
				top: 1%;
				@include media-breakpoint-up(lg) {
					height: 106%;
					top: rem(10);
				}
				left: 0;
				background-color: $primary;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sTarget