mixin sAboutEvent()
	// start sAboutEvent
	+b.sAboutEvent.section#sAboutEvent&attributes(attributes)
		.container
			+e.item-event
				.row
					+e.col.col-lg-8
						+e.text-content
							h2 Международная творческая школа вокального мастерства Елены Образцовой
							+e.date-row.text-primary
								+e.date с 25 по 31 мая 2020 года
								+e.label Онлайн
						
							p С&nbsp;25&nbsp;по&nbsp;31&nbsp;мая в&nbsp;Москве вновь состоялась Международная творческая школа вокального мастерства Елены Образцовой.
							p В&nbsp;связи со&nbsp;сложившейся эпидемиологической ситуацией в&nbsp;мире Школа в&nbsp;этот раз прошла в&nbsp;режиме онлайн.
							p Трансляции были организованы в&nbsp;прямом эфире на&nbsp;портале Культура.рф, YouTube-канале Фонда и&nbsp;странице в&nbsp;Facebook.
							p Елена Образцова на&nbsp;протяжении всей своей жизни давала мастер-классы по&nbsp;всему миру, а&nbsp;с&nbsp;2005 года Международная творческая школа вокального мастерства Елены Образцовой стала проводиться регулярно в&nbsp;Санкт-Петербурге и&nbsp;Москве. Ее&nbsp;миссия&nbsp;&mdash; совершенствование мастерства молодых певцов и&nbsp;обмен опытом работы между преподавателями вокала, певцами, концертмейстерами и&nbsp;театральными деятелями.
							p Учитывая специфические особенности онлайн-формата, в&nbsp;этот раз большее количество занятий были посвящены не&nbsp;столько вокальным тонкостям, сколько комплексному подходу к&nbsp;профессии оперного певца. Занятия включили в&nbsp;себя творческие встречи с&nbsp;режиссером, дирижером, вокальными педагогами, оперными певцами и&nbsp;музыкальными критиками.

					+e.col.col-lg-4
						+e.img-wrap
							img.res-i(src="img/@2x/sAboutEvent.jpg", alt="")

					
			.row
				+e.section-title
					h2 Расписание
				mixin schedule(d,l,des,t)
					.col-lg-3.col-md-6
						+e.schedule
							+e.date.text-primary!=d
							.leading!= l
							.desc!= des
							+e.title.text-primary(href="#")!= t

				+schedule(`25 мая в 14:00`, `ДМИТРИЙ ЧЕРНЯКОВ`, `российский оперный режиссер, многократный обладатель российских и&nbsp;международных премий`, `&laquo;Режиссёр и&nbsp;певец в&nbsp;опере. Что об&nbsp;этом должен знать молодой артист?&raquo;`)
				+schedule(`26 мая в 14:00`, `ДМИТРИЙ ВДОВИН`, `вокальный педагог, руководитель Молодежной оперной программы Большого театра России`, `&laquo;Разговор о&nbsp;вокальной технике и&nbsp;художественной интерпретации&raquo;`)
				+schedule(`25 мая в 14:00`, `ДМИТРИЙ КОРЧАК`, `оперный певец и&nbsp;дирижер, приглашенный солист Венской Государственной оперы`, `&laquo;Дирижёр и&nbsp;певец в&nbsp;опере. Что об&nbsp;этом должен знать молодой артист?&raquo;`)
				+schedule(`25 мая в 14:00`, `АЛЕССАНДРО АМОРЕТТИ и АННА КРИВЧЕНКОВА`, `вокальные коучи`, `&laquo;Проблема итальянской вокальной дикции у&nbsp;русскоязычных певцов&raquo;`)

			+e.dop-info
				p Обязательно присылайте вопросы для наших педагогов, на&nbsp;которые они с&nbsp;удовольствием ответят в&nbsp;прямом эфире. Желающие также могут прислать короткие видео своих выступлений&nbsp;&mdash; педагоги их&nbsp;заранее посмотрят, и, возможно, некоторые видео будут показаны и&nbsp;разобраны в&nbsp;эфире.
				p Свои вопросы и&nbsp;видео уже сейчас направляйте на&nbsp;почту Фонда: 
					a.text-primary(href="mailto:office@obraztsovafund.ru") #[strong office@obraztsovafund.ru]
				p Дополнительная информация: 
					a(href="tel:+79250486687") #[strong.text-primary +7 (925) 048 66 87]
					| #[strong.text-primary , Ольга Владимирова]

					








	// end sAboutEvent