.page-main{
	.top-nav {
		&__menu-wrap{ 
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			width: auto;
		}
		&__constants{
			flex: 1 0 0%;
			width: 100%;
		}
	}

}
.top-nav {
		@include media-breakpoint-up(xl) {

			padding-top: rem(34);
			padding-bottom: rem(24);
		}
		padding-top: rem(10);
	padding-bottom: rem(10);
	 border-bottom: 1px solid #E0E0E0;
	.row{
		@include media-breakpoint-up(xxl) {
			@include roww(rem(50))
		}
	}
	&__logo{
						@include media-breakpoint-up(xxl) {
		 margin-right: rem(75);
						}
						img{
							@include media-breakpoint-up(sm) {
								max-width: rem(185);
							}
							max-width: rem(122);
							// max-width: 100%;
		 }
	 }
 

	&__constants{
		// margin-right: rem(20);
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
.btn-ticket{
	@extend .btn;
	@extend .btn-primary;

	@include media-breakpoint-up(xl) {

		width: rem(232);
	}
}
.btn-lang {
	@extend .btn;
	@extend .btn-outline-primary;

	padding: 0;
	font-family: $font-family-base;
	border-radius: 50%;
	width: rem(42);
	height: rem(42);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $h5-font-size;
}

	.nav {
		list-style-type: none;
		margin-bottom: 0;
			@include media-breakpoint-up(lg) {

				columns: 2;
			}
		max-width: rem(336);
		@extend .mono;
		&__item {
			width: 100%;
			display: inline-block;
			list-style-type: none;
			margin-bottom: rem(11);
		}
	
		&__link {
			// @extend .text
			color: $dark; 
			border-bottom: 1px solid transparent;
			display: inline-block;
			@extend .h6;
			margin-bottom: 0;
			&:hover,
			&.active{
				border-bottom-color: currentColor;
			}
		}
	}


		.link-tel {
			@extend .h2;
			@extend .mono;
			@extend .text-body;
			display: inline-block;
			letter-spacing: 0.06em;
			line-height: (41 / 30);
			margin-bottom: rem(5);
		}

		.link-mail {
			@extend .h5;
		}