mixin sTranslations()
	// start sTranslations
	+b.SECTION.sTranslations.section#sTranslations&attributes(attributes)
		.container
			+b.section-title
				h2 Трансляции
			+e.big-baner
				+e.big-baner-container
					+pic('translationBaner')(class="sTranslations__big-baner-bg")
					+e.baner-content
						+e.baner-header
							| Наименование предстоящей
							br
							| трансляции
						+e.begin-after Начнется через
						+e.timer-box.timer-box-js
							.hours  15
							.minutes 52
							.seconds 06
						+e.A.remember-btn(href='#') Напомнить
			+b.past-translations
				h2 Прошедшие трансляции
				+e.row.row
					+pastTranslationItem(1)
					+pastTranslationItem(2)
					+pastTranslationItem(3)
				.text-center
					+e.A.load-more-btn(href='#') Загрузить еще
			+e.audio-bl
				h2 Аудио
				+e.audio-container
					img.lazy(src="#" data-src="img/@2x/audio-screen.jpg" alt="")
	// end sTranslations

mixin pastTranslationItem(imgNum)
	.col-md-4
		+e.item
			+e.A.link(href='#')
				+pic(`past-item-img-${imgNum}`)(class='past-translations__link-bg')
				+e.content
					+e.play-cont
						img.lazy(src='#' data-src="img/svg/play.svg" alt="")
					+e.time-txt 1:45:10
			+e.descr
				+e.date 30 июня 2020
				+e.A.name(href='#') Под дугой колокольчик поет
				+e.place Малый зал Московской консерватории



