mixin sAboutFond()
	// start sAboutFond
	+b.SECTION.sAboutFond.section#sAboutFond&attributes(attributes)
		.container
			+e.row.row
				.col-lg-7
					+b.section-title
						h2 О ФОНДЕ
						+e.top-links
							a.active(href='#') Общая информация
							a(href='#') Пресса
							a(href='#') Документы
							a(href='#') Контакты
					+e.txt-content
						h2 Фонд Елены Образцовой
						p Благотворительный фонд поддержки музыкального искусства &laquo;Фонд Елены Образцовой&raquo; создан в&nbsp;декабре 2011 года по&nbsp;инициативе великой оперной певицы, Народной артистки СССР Елены Васильевны Образцовой.
						p Целью деятельности Фонда являются культурные и&nbsp;образовательные проекты, направленные на&nbsp;сохранение культурного наследия и&nbsp;развитие традиций отечественной музыкальной культуры и&nbsp;образования, а&nbsp;также международное гуманитарное сотрудничество.
					+e.txt-content.list-block
						h2 Основные направления деятельности фонда
						ul
							li Организация и&nbsp;проведение Международных конкурсов Елены Образцовой для молодых оперных певцов и&nbsp;для юных вокалистов
							li Творческая школа вокального мастерства Елены Образцовой
							li Содействие в&nbsp;организации и&nbsp;проведении музыкальных конкурсов
							li Патронирование детских музыкальных школ
							li Специальные премии и&nbsp;гранты (вручаются ежегодно, номинантов выбирает экспертный совет Фонда)
							li Гранты для поощрения талантливой молодежи
							li Специальные премии для ветеранов оперного искусства
							li Поддержка молодых музыкантов
							li Организация и&nbsp;проведение концертов
							li Просветительская деятельность в&nbsp;форме издания книг, альбомов, аудио&nbsp;и видео-продукции
							li Сбор и&nbsp;изучение материалов творческого наследия певицы
							li Содействие созданию Государственного музея Елены Образцовой
				+e.portait-col.col-lg-5
					+pic('lady-img')(class="sAboutFond__portrait")
					+e.portrait-txt
						p Деятельность &laquo;Фонда Елены Образцовой&raquo; дважды отмечена Грамотами Профсоюзного комитета Администрации Президента РФ, Аппарата Правительства РФ, Аппарата Совета Федерации Федерального Собрания РФ, Счетной палаты&nbsp;РФ и&nbsp;Управления делами Президента РФ&nbsp;&laquo;За&nbsp;вклад в&nbsp;развитие русской исполнительской вокальной школы&raquo; (2014, 2015). В&nbsp;2017 году награждена Грамотой и&nbsp;Памятной медалью &quot;XIX Всемирный фестиваль молодежи и&nbsp;студентов 2017 года в&nbsp;г. Сочи, Благодарственное письмо Президента Российской Федерации за&nbsp;большой вклад и&nbsp;проведение общественно значимых мероприятий всероссийского уровня (2018).
			+e.partners
				h2 Партнеры фонда
				+partnersItem('Стратегические')
					+parnersSlide(1)
					+parnersSlide(2)
					+parnersSlide(3)
				+partnersItem('Генеральные')
					+parnersSlide(4)
					+parnersSlide(5)
					+parnersSlide(6)
					+parnersSlide(7)
					+parnersSlide(8)
				+partnersItem('Творческие')
					+parnersSlide(9)
					+parnersSlide(10)
					+parnersSlide(11)
					+parnersSlide(12)
					+parnersSlide(13)
				+partnersItem('Информационные')
					+parnersSlide(14)
					+parnersSlide(15)
					+parnersSlide(16)
					+parnersSlide(17)
				+partnersItem('Официальные отели')
					+parnersSlide(18)
					+parnersSlide(19)
				+partnersItem('Официальные партнеры')
					+parnersSlide(20)
					+parnersSlide(21)
					+parnersSlide(22)
					+parnersSlide(23)
	// end sAboutFond

mixin partnersItem(headlineTxt)
	+e.partenrs-item
		+e.partners-healine
			+e.headline-bg
				img.lazy(src="#" data-src="img/svg/sign.svg" alt="")
			span=headlineTxt
		+e.parners-slider
			.swiper-container.partners-slider-js
				.swiper-wrapper
					block

mixin parnersSlide(imgNum)
	.swiper-slide
		img.swiper-lazy(src="#" data-src=`img/@2x/partners-slider-${imgNum}.png` alt="")
