
//- menu
mixin mnu()
	-
		var nav= {
			"О фонде":"#",
			"Новости":"#",
			"Проекты":"#",
			"Афиша":"#",
			"Медиа":"#",
			"Издания":"#",
			"Трансляции":"#"
			}
	+b.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu